AuthName "Workstation Operator Authentication"

AuthType Basic

Options -Indexes

<FilesMatch "admin*.php|new_script.php|edit_script.php">
  AuthUserFile /var/www/html/wsoperator/.htpasswdadmin
  require valid-user
  #Order deny,allow
  #Deny from all
  #Allow from your.ip.add.here/netmask
</FilesMatch>

<FilesMatch "manage*.php|group*.php|edit.php|custom.php|save_changes.php">
  AuthUserFile /var/www/html/wsoperator/.htpasswdmanage
  require valid-user
  #Order deny,allow
  #Deny from all
  #Allow from your.ip.add.here/netmask
</FilesMatch>
